body {
  background-color: rgb(193, 224, 236);
  font-family: "Roboto", sans-serif;
}
header {
  text-align: center;
}
form {
  width: 600px;
  background-color: #fff;
  margin: 0 auto;
  padding: 1rem;
}
.help-section div {
  margin-bottom: 1rem;
}
label {
  display: block;
  margin-bottom: 0.3rem;
}
input,
textarea,
select {
  width: 100%;
  box-sizing: border-box;
  padding: 4px;
  font-size: 1.2rem;
}
option {
  background-color: lightcoral;
}
input:focus,
textarea:focus {
  background-color: rgb(219, 190, 253);
}
textarea {
  resize: none;
}
.reply-section {
  margin-bottom: 1rem;
}
.reply-section h2 {
  margin-top: 1.5px;
  margin-bottom: 0.8rem;
}
.radio-container {
  display: flex;
  align-items: flex-start;
  gap: 5px;
}
.radio-container input {
  width: auto;
}
.buttons-container {
  display: flex;
  justify-content: flex-end;
  gap: 0.5rem;
}
.buttons-container button {
  padding: 0.5rem 1rem;
  cursor: pointer;
  border-radius: 3px;
  border: 1px solid rgb(24, 24, 81);
  font-size: 1rem;
}
.submit {
  background-color: rgb(24, 24, 81);
  color: #fff;
}
